
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>MVC CV Web Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/LoginTema/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/LoginTema/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Designed By Sefa AŞIK</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center">MVC CV Web Project</h3>
                        <form method="post" class="signin-form">
                            <div class="form-group">
                                <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanıcı Adı" required>
                            </div>
                            <div class="form-group">
                                <input name="KullaniciSifre" type="password" class="form-control" placeholder="Parola" required >
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">GİRİŞ YAP</button>
                            </div>
                        </form>
                        <p class="w-100 text-center">Sefa AŞIK - İletişim</p>
                        <div class="social d-flex text-center">
                            <a href="https://www.facebook.com/profile.php?id=100000546300766&locale=tr_TR" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
                            <a href="https://twitter.com/sefa_a97" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
                        </div>
                        <br />
                        <div class="social d-flex text-center">
                            <a href="https://www.instagram.com/sefa0728/" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> İnstagram</a>
                            <a href="https://github.com/sefa1707" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> GitHub</a>
                        </div>
                        <br />
                        <div class="social d-flex text-center">
                            <a href="https://www.linkedin.com/in/sefa-a%C5%9Fik-35a9b921a/" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Linkedİn</a>
                            <a href="https://sefaasik.com/" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> sefaasik.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginTema/js/jquery.min.js"></script>
    <script src="~/LoginTema/js/popper.js"></script>
    <script src="~/LoginTema/js/bootstrap.min.js"></script>
    <script src="~/LoginTema/js/main.js"></script>

</body>
</html>

