
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-md-12">
    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Eğitim Ekleme Paneli</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Okul Adı</label>
                            <input type="text" class="form-control" placeholder="Okul Adı..." name="EgitimOkulAd">
                        </div>
                        <div class="form-group">
                            <label>Bölüm Adı</label>
                            <input type="text" class="form-control" placeholder="Bölüm Adı..." name="EgitimBolumAd">
                        </div>
                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" class="form-control" placeholder="Açıklama..." name="EgitimAciklama">
                        </div>
                        <div class="form-group">
                            <label>GNO</label>
                            <input type="text" class="form-control" placeholder="GNO..." name="EgitimGNO">
                        </div>
                        <div class="form-group">
                            <label>Başlangıç Tarihi</label>
                            <input type="text" class="form-control" placeholder="Tarih..." name="EgitimBaslangicTarih">
                        </div>
                        <div class="form-group">
                            <label>Bitiş Tarihi</label>
                            <input type="text" class="form-control" placeholder="Tarih..." name="EgitimBitisTarih">
                        </div>
                    </div>
                </div>
                <br />
                <button class="btn btn-warning">Kaydet</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</div>