
<section class="resume-section" id="iletisim">
    <div class="resume-section-content">
        <form method="post">
            <h2 class="md-5">İLETİŞİM</h2>
            <label>Ad Soyad</label>
            <input type="text" name="iletiisimGonderen" value="" class="form-control" />
            <label>Mail</label>
            <input type="text" name="iletisimMail" value="" class="form-control" />
            <label>Konu</label>
            <input type="text" name="iletisimKonu" value="" class="form-control" />
            <label>Mesaj</label>
            <textarea type="text" name="iletisimMesaj" value="" class="form-control"></textarea>
            <br />
            <button class="btn btn-info">Mesaj Gönder</button>
        </form>
    </div>
</section>
